{%include 'header.html'%}    
    <main>
            <div>
                <table class="table table-bordered align-middle">
                    <!---table header-->
                    <thead class="table-dark">
                        <!---tabler row-->
                        <tr>
                            <th>Nombre</th>
                            <th>Color</th>
                        </tr>

                    </thead>
                    <!---table body-->
                    <tbody>
                       {% for a in animals %}
                       <tr>
                        {#tabla data#}
                        <td>{{ a.name }}</td>
                        <td>{{ a.color }}</td>
                       </tr>
                       {%else%}
                       <tr>
                        <td colspan="2">No hay registros de animales</td>
                       </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
    </main>

{% include 'footer.html'%} 